<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/playlist.css">
    <title>Lista de musica</title>
</head>
<body>
    <div class="header-nav">
        <a href="/" id="back">Volver</a>
        <h1>Lista de música</h1>
        <div id="registro">
            <a href="/registro">+</a>
        </div>
    </div>

    <div id="songs" class="songs"></div>

    <script src="/js/canciones.js"></script>
</body>
</html>