<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registro.css">
    <title>Cargar canciones</title>
</head>
<body>
    <div class="header-nav">
        <a href="/playlist" id="back">Volver</a>
        <h1>Modificar Canción</h1>
        <a href="/" id="index">Inicio</a>
    </div>

    <div id="modificar"></div>

    <script src="/js/modificar.js"></script>
</body>
</html>