<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registro.css">
    <title>Cargar canciones</title>
</head>
<body>
    <div class="header-nav">
        <a href="/playlist" id="back">Volver</a>
        <h1>Cargar canciones</h1>
        <a href="/" id="index">Inicio</a>
    </div>

    <form method="POST" action="/registro-cancion">
        <label for="">Ingrese el nombre de la banda</label>
        <input type="text" name="" id="">
        <label for="">id de video de youtube</label>
        <input type="text" name="" id="">
        <label for="">Ingrese nombre de la cancion</label>
        <input type="text" name="" id="">
        <label for="">Ingrese fecha de creacion</label>
        <input type="date" name="" id="">
        <button>Guardar</button>

    </form>
</body>
</html>